*{
    box-sizing: border-box;
}
body{
    background-color: #DDB6E3;
    font-family: 'Chewy', cursive;
}
/* .elemento{
margin: 0 0 230px 230px;
} */
header{
    position: relative;
    top: 0;
    left: 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container img{
    width: 180px;
}
header .container nav{
    font-size: 24px;
    font-weight: 100;  
}
header .container nav a{
    text-decoration: none;
    letter-spacing: 1px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 100;
}
header .container nav img{
    width: 30px;
}
main{
    position: relative;
}

main .cuerpo{
    background-image: url(../img/Forma.png);
    background-position: 100%;
    background-repeat: no-repeat;
    width: 1366px;
    height: 700px;
}
main .container .contenido{
    margin-top: 50px;
    margin-left: 100px;
    width: 50%;
    height: 50%;
}
main .container .contenido img{
    border-radius: 20%;   
}

.owl-theme .owl-dots .owl-dot span{
    background-color: #AF12C7;
}
.owl-theme .owl-dots .owl-dot.active span {
    background-color: #E662FB;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #E662FB;
}
/* .galeria{
    display: inline;
    width: 30%;
    margin-left: 50%;
    transform: translate(-50%);
}
.galeria .fotograma img{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
} */

.container{
    padding-right: 230px;
    padding-left: 230px;
}
.fila{
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
}
/* .columna{
    padding-left: 230px;
    padding-right: 230px;
} */
.columna-100{
    width: 100%;
}



